/*login*/
*
{
    outline: none;
}

body
{
    margin: 8px;
    background-color: #d3d3d3;
}

body, input, button
{
    font-family: 'Muli', sans-serif;
}

#cover
{
    width: 722px;
    height: 522px;
    padding: 45px;
    margin: 0 auto;
}

#form-ui,form , #close-form
{
    position: relative;
}

form
{
    width: 262px;
    height: 472px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0px 15px 60px #808080;
    border-radius: 20px;
}

#close-form
{
    position: absolute;
    top: 23px;
    right: 25px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#close-form:before, #close-form:after
{
    content: '';
    position: absolute;
    top: -2px;
    left: 10px;
    width: 5px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

#close-form:before
{
    transform: rotateZ(-45deg);
}

#close-form:after
{
    transform: rotateZ(45deg);
}

#form-body
{
    position: absolute;
    top: 50%;
    right: 25px;
    left: 25px;
    width: 230px;
    margin: -156px auto 0 auto;
}

#welcome-lines
{
    text-align: center;
    line-height: 1;
}

#w-line-1
{
    color: #7f7f7f;
    font-size: 35px;
    margin-top: -25px;
}

#w-line-2
{
    color: #9c9c9c;
    font-size: 28px;
    margin-top: 17px;
}

#input-area
{
    margin-top: 40px;
}

.f-inp
{
    padding: 11px 25px;
    border: 1px solid #e3e3e3;
    line-height: 1;
    border-radius: 20px;
}

.f-inp:first-child
{
    margin-bottom: 15px;
}

.f-inp input
{
    width: 100%;
    font-size: 13.4px;
    padding: 0;
    margin: 0;
    border: 0;
}

.f-inp input::placeholder
{
    color: #b9b9b9;
}

#submit-button-cvr
{
    margin-top: 20px;
}

#submit-button
{
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    background-color: #808080;
    border-radius: 25px;
    line-height: 1;
    cursor: pointer;
}

#remember 
{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
}

#forgot-pass
{
    text-align: center;
    margin-top: 10px;
}

#forgot-pass a
{
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

#new-user
{
    text-align: center;
    margin-top: 10px;
}

#new-user a
{
    color: #868686;
    font-size: 12px;
    text-decoration: none;

}

.no-accnt
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: -5px;
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}


#bar
{
    position: absolute;
    left: 50%;
    bottom: -50px;
    width: 28px;
    height: 8px;
    margin-left: -33px;
    background-color: #dfdfdf;
    border-radius: 10px;
}

#bar:before, #bar:after
{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ececec;
    border-radius: 50%;
}

#bar:before
{
    right: -20px;
}

#bar:after
{
    right: -38px;
}

#img-box
{
    position: absolute;
    top: 50%;
    left: 312px;
    width: 394px;
    height: 475px;
    margin-top: -237.5px;
    padding-right: 16px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}

#img-box img
{
    position: absolute;
    top: 50%;
    width: 394px;
    height: 475px;
    margin-top: -237.5px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}


