<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <title>METRO EVENTS - Success </title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{% static 'assets/css/admin-notif.css' %}"/>
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}"/>
        <link rel="stylesheet" href="{% static 'assets/css/templatemo-plot-listing.css' %}"/>
        <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}"/>
        <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}"/>

        <!-- DB -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/templatemo-style.css' %}">

    </head>
    <body>
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message">
            <h1 class="alert">Congratulations!</h1>
            <p>You have successfully accepted this user to be an organizer.
                <br>
                A notification is sent to the user  for the good news!
                <br>
                Have a nice day!
            </p>
        </div>
        <br><br>
        <button class="button-box"><h1 class="green"> <a href="../admin1/adminViewRequest">Thank you</a></h1></button>
    </body>
</html>