<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Login</title>
   <link rel="stylesheet" type="text/css" href="style.css">
   <meta name="viewport" content="width=device-width, initial -scale=1.0">

</head>
<body>
    
<div id="cover">
        <div id="form-ui">
            <form method="post" action="">
                <div id="close-form"></div>
                <div id="form-body">
                    <div id="welcome-lines">
                        <div id="w-line-1">Metro Events</div>
                        <div id="w-line-2">Join events now!</div>
                    </div>
                    <div id="input-area">
                        <div class="f-inp">
                            <input type="text" placeholder="Username">
                        </div>
                        <div class="f-inp">
                            <input type="password" placeholder="Password">
                        </div>
                    </div>
                    <div id="submit-button-cvr">
                        <button type="submit" id="submit-button">LOGIN</button>
                    </div>
                    <div id="remember">
                        <div class="col-xs-6 col-sm-6">
                            <label class="checkbox text-left">
                                <input type="checkbox" value="remember">
                                <span class="label-text">Remember me</span>
                            </label>
                        </div>
                    </div>
                    <div id="forgot-pass">
                        <a href="#">Forgot password?</a>
                    </div>
                    <div id="new-user">
                         <p class="no-accnt">Don't have an account yet?</p>
                        <a href="register.html">Click here to register</a>
                    </div>

                    <div id="bar"></div>
                </div>
            </form>
            <div id="img-box">
                <!-- <img src="http://k003.kiwi6.com/hotlink/g6uwrzfdof/l_ui.png" alt="UI Image"> -->
                <img src="p1.jpg">
            </div>
        </div>
    </div>
</body>
</html>
 