{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>METRO EVENTS - Discover New Events</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-plot-listing.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

    <!-- events css -->
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-style.css' %}">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="../organizer/organizerHome" class="logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="../organizer/organizerHome" >Dashboard</a></li>
              <li><a href="../organizer/organizerEvents" class="active">Events</a></li>
              <li><a href="../organizer/organizerReview">Reviews</a></li> 
              <li><a href="../organizer/organizerProfile">Profile</a></li>
              <li><div class="main-white-button"><a href="#"><i class="fa fa-plus"></i>LOGOUT</a></div></li> 
            </ul>      
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="page-heading-02">
    <div class="container">
      <div class="row">
        <div class="col-lg-15">
          <div class="top-text header-text"><br>
            <h2 style="color:white;">REVIEWS</h2>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Sign Up</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Business Name">Business Name</label>  
      <div class="col-md-4">
      <input name="Business Name" class="form-control input-md" id="Business Name" required="" type="text" placeholder="Please enter your business">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Email">Email Address</label>  
      <div class="col-md-4">
      <input name="Email" class="form-control input-md" id="Email" required="" type="text" placeholder="Please enter your email">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Phone">Phone Number</label>  
      <div class="col-md-4">
      <input name="Phone" class="form-control input-md" id="Phone" type="text" placeholder="Please enter your number">
        
      </div>
    </div>
    
    <!-- Multiple Checkboxes -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="checkboxes">What services would you like?</label>
      <div class="col-md-4">
      <div class="checkbox">
        <label for="checkboxes-0">
          <input name="checkboxes" id="checkboxes-0" type="checkbox" value="1">
          Communication Dashboard
        </label>
      </div>
      <div class="checkbox">
        <label for="checkboxes-1">
          <input name="checkboxes" id="checkboxes-1" type="checkbox" value="2">
          Website Design
        </label>
      </div>
      <div class="checkbox">
        <label for="checkboxes-2">
          <input name="checkboxes" id="checkboxes-2" type="checkbox" value="3">
          Basic Newsletters
        </label>
      </div>
      <div class="checkbox">
        <label for="checkboxes-3">
          <input name="checkboxes" id="checkboxes-3" type="checkbox" value="4">
          Premium Newsletters
        </label>
      </div>
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="Referral">How did you hear about us?</label>  
      <div class="col-md-4">
      <input name="Referral" class="form-control input-md" id="Referral" type="text" placeholder="Let Us Know">
        
      </div>
    </div>
    
	
	

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="sub-footer">
            <p>Copyright © 2021 METRO EVENTS All Rights Reserved.
            <br>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/animation.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

  <!-- events script -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>

</body>

</html>
